<h4>Welcome to Project: Little Esty Shop BULK DISCOUNTS</h4>

<%= link_to "Admin Dashboard", admin_dashboard_index_path %>
<%= link_to "Admin Merchants Index Page", admin_merchants_path %>
<%= link_to "Admin Invoices Index Page", admin_invoices_path %>

